@tailwind base;
@tailwind components;
@tailwind utilities;

svg circle {
    transition: stroke-width 500ms ease-in-out;
}

svg circle.active {
    stroke-width: 0;
}

svg path {
    stroke-dasharray: 25.5;
    stroke-dashoffset: 25.5;
    transition: stroke-dashoffset 550ms ease-in-out;
}

svg path.active {
    stroke-dashoffset: 18;
}

.nav-item {
    border-bottom: 2px solid white;
}

.nav-item.actives {
    color: black;
    border-bottom: 2px solid red;
}